:root {
  --blue-color: #0099ff;
}

@media (max-width: 780px) {
  :root {
    --blue-color: #f40000;
  }
}

body {
  background-color: var(--blue-color);
}

input[type="checkbox"]:checked {
  border-color: green;
}

h1::before {
  content: "👉 ";
  color: #3498db;
}

::selection {
  background-color: aquamarine;
  color: white;
}

button:hover::after {
  content: "❤️";
}

button:hover::before {
  content: "Click Me: ";
  color: green;
}

input[type="text"]:focus {
  /* border: 0px; */
  outline: none;
  padding: 10px;
  border-radius: 20px !important;
  border-radius: 0px;
}

.container {
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid black;
  background-color: green;
}

.items {
  padding: inherit;
  font-family: initial;
  background-color: firebrick;
}
