:root {
  --primary-color: rgb(255, 42, 42);
  --secondary-color: rgb(255, 156, 156);
}

.box {
  background-color: var(--primary-color);
  box-shadow: 4px 4px var(--primary-color);
  height: 200px;
  width: 200px;
  text-align: center;
  color: var(--secondary-color);
}

@media screen and (min-width: 1290px) {
  .box {
    background-color: var(--secondary-color);
  }
}
