* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 800px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  row-gap: 10px;
  column-gap: 10px;
}

.item {
  /* height: 100px;
  width: 100px; */
  background: #cb7cf3;
  border: 1px solid saddlebrown;
  margin: 4px;
  height: 140px;
  width: 140px;
  place-self: center;
}

.header {
  /* grid-column-start: 1;
  grid-column-end: 4; */

  /* Same as grid col start and end */
  grid-column: 1 / span 3;

  /* grid-row-start: 1;
  grid-row-end: 3; */
}

.footer {
  /* grid-column-start: 1;
  grid-column-end: 4; */

  /* Same as grid col start and end */
  grid-column: 1 / span 3;
}
