.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.login-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 40px 5px;
  border-radius: 10px;
}

.login-input {
  padding: 8px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.login-input:focus {
  outline-color: rgba(0, 0, 0, 0.3);
}

.login-submit-btn {
  padding: 8px;
  background-color: rgb(0, 155, 0);
  color: white;
  cursor: pointer;
  border-radius: 50px;
  width: 80%;
  margin-top: 20px;
}

.login-submit-btn:hover {
  background-color: green;
}

.input-block {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-password-toggle {
  position: relative;
  width: 100%;
}

.password-toggle-btn {
  position: absolute;
  right: 2%;
  top: 20%;
  padding: 2px 5px;
  background: none;
  border: none;
  cursor: pointer;
}
