html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: "Open-Sans", sans-serif;
}

body {
  background-color: rgb(95, 95, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-top: 1px solid blue;
  color: rgb(103, 103, 197);
}

.pricing-plan:nth-child(1) {
  border-top: none;
}

.pricing-header {
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: medium;
  font-weight: 600;
  color: grey;
  letter-spacing: 1px;
}

.pricing-img {
  max-width: 100%;
}

.pricing-features-item {
  border-top: 1px solid rgb(150, 150, 255);
  padding: 15px;
  font-size: small;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}

.pricing-features-item:nth-last-child(1) {
  border-bottom: 1px solid rgb(150, 150, 255);
}

.pricing-price {
  margin: 20px;
  display: block;
  font-size: x-large;
  font-weight: 800;
  color: blue;
  letter-spacing: 2px;
}

.pricing-button {
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 35px;
  background-color: blue;
  color: white;
  transition: all 200ms ease-in-out;
  margin: 20px;
  margin-top: 0px;
}

.pricing-button:hover {
  background-color: rgb(0, 0, 136);
  color: rgb(255, 255, 255);
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }

  .pricing-plan {
    border-top: none;
    border-right: 1px solid rgb(150, 150, 255);
    /* margin: 10px 20px; */
    padding: 20px 30px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }

  .pricing-features-item {
    border-top: 1px solid rgb(150, 150, 255);
    padding: 15px;
    font-size: small;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  .pricing-features-item:last-child() {
    border-bottom: none;
    border-right: none;
  }
}

@media (max-width: 1000px) {
}
